Repository rbardini/jsonresume-theme-even: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.js": ["eslint --fix", "prettier --write"],
  "*.{css,html,json,md,yml}": "prettier --write"
}

build(package): remove `prepublishOnly` script
  package.json
Due: prettier --write

chore(deps): update dependencies
  package-lock.json
  package.json
Due: prettier --write

docs(editor): fix schema import
  editor.js
Due: eslint --fix, prettier --write

fix(deps): replace `html` with `@rbardini/html`
  components/awards.js
  components/certificates.js
  components/date.js
  components/duration.js
  components/education.js
  components/header.js
  components/interests.js
  components/languages.js
  components/link.js
  components/meta.js
  components/projects.js
  components/publications.js
  components/references.js
  components/skills.js
  components/volunteer.js
  components/work.js
  package-lock.json
  package.json
  resume.js
  utils/html.js
Due: eslint --fix, prettier --write

feat(date): display start/end date duration
  components/duration.js
  index.js
  resume.js
  script.js
  style.css
  test/__snapshots__/index.test.js.snap
Due: eslint --fix, prettier --write

refactor(resume): make non-resume params optional
  index.js
  resume.js
  test/__snapshots__/index.test.js.snap
Due: eslint --fix, prettier --write

refactor(editor): move editor files to own folder
  editor/editor.css
  editor/editor.js
  editor/index.html
  editor/vite.config.js
  netlify.toml
  package.json
  vite.config.js
Due: eslint --fix, prettier --write

refactor(assets): move page CSS/JS to own folder
  assets/page.css
  assets/page.js
  components/resume.js
  index.js
Due: eslint --fix, prettier --write

refactor(date): rename `Date` component `DateTime`
  components/awards.js
  components/certificates.js
  components/date-time.js
  components/duration.js
  components/publications.js
Due: eslint --fix, prettier --write

fix(print): print background graphics
  index.js
Due: eslint --fix, prettier --write

docs(package): normalize repository URL
  package.json
Due: prettier --write

0.23.0
  package-lock.json
  package.json
Due: prettier --write

Improve pdf generation quality.
  assets/page.css
  components/awards.js
  components/certificates.js
  components/education.js
  components/header.js
  components/interests.js
  components/languages.js
  components/projects.js
  components/publications.js
  components/references.js
  components/skills.js
  components/volunteer.js
  components/work.js
Due: eslint --fix, prettier --write

fix tests
  test/__snapshots__/index.test.js.snap
Due: none

Fix languages.
  components/languages.js
Due: eslint --fix, prettier --write

update snapshot
  test/__snapshots__/index.test.js.snap
Due: none

Change languages to have the class internally
  components/languages.js
  test/__snapshots__/index.test.js.snap
Due: eslint --fix, prettier --write

docs(readme): add theme reference
  README.md
Due: prettier --write

docs(readme): update Resumed recipe
  README.md
Due: prettier --write

feat(date): aggregate start/end date durations
  assets/page.css
  assets/page.js
  components/date-time-duration.js
  components/duration.js
  components/education.js
  components/projects.js
  components/volunteer.js
  components/work.js
  test/__snapshots__/index.test.js.snap
Due: eslint --fix, prettier --write

chore(deps): update dependencies
  package-lock.json
  package.json
  test/index.test.js
  vite.config.js
Due: eslint --fix, prettier --write

0.24.0
  package-lock.json
  package.json
Due: prettier --write

fix(date): dim aggregated duration
  components/work.js
  test/__snapshots__/index.test.js.snap
Due: eslint --fix, prettier --write

0.24.1
  package-lock.json
  package.json
Due: prettier --write

feat(work): hoist single work items
  components/work.js
  test/__snapshots__/index.test.js.snap
Due: eslint --fix, prettier --write

0.25.0
  package-lock.json
  package.json
Due: prettier --write

feat(education): dim study type
  components/education.js
  test/__snapshots__/index.test.js.snap
Due: eslint --fix, prettier --write

0.26.0
  package-lock.json
  package.json
Due: prettier --write

fix(date): fix static duration when no end date
  assets/page.js
  components/duration.js
  test/__snapshots__/index.test.js.snap
Due: eslint --fix, prettier --write

0.26.1
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependencies
  .github/workflows/main.yml
  package-lock.json
  package.json
Due: prettier --write

(1) Add ability to change ordering of sections (taken from PR #20). (2) Add ability to change section label
  components/awards.js
  components/certificates.js
  components/education.js
  components/interests.js
  components/languages.js
  components/projects.js
  components/publications.js
  components/references.js
  components/resume.js
  components/sections.js
  components/skills.js
  components/volunteer.js
  components/work.js
  test/__snapshots__/index.test.js.snap
  test/index.test.js
Due: eslint --fix, prettier --write

Update README with information about section ordering and label customization
  README.md
Due: prettier --write

Removed unwanted backtick
  README.md
Due: prettier --write

Fixed smaller issues
  README.md
Due: prettier --write
